<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1 style="background-color: yellow;">Hello Everyone</h1>
    <p style="background-color: orange;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam quam explicabo, accusamus officia libero porro asperiores totam quos. Vero doloremque excepturi iure delectus aperiam eaque, deleniti tempore, sed sit nisi consequatur sunt mollitia et ab. Recusandae aliquid ex beatae, alias assumenda fugiat est reiciendis deleniti voluptate voluptas repellendus libero id voluptatum animi perspiciatis, cumque fugit explicabo. Doloremque eveniet odit hic assumenda eos eligendi ea voluptate dolorum eius et voluptas ipsa rem, veniam aliquid necessitatibus incidunt sequi! Maiores eius, iusto ex, quibusdam voluptates natus provident voluptatum alias assumenda minima minus accusantium nemo magnam nam quam architecto mollitia? Aut quidem eaque et!</p>
</body>
</html>