<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Input your data to insert</h1>
   <div style="border: 2px solid; width: 20%;background-color: orange; margin: auto; padding: 20px;" class="formdata">
    <form action="/addMember" method="POST">
        <label for="ID">ID:</label>
        <input style="border:1px solid; padding: 5px; width: 240px;" type="text" id="ID"> <br>
        <label for="name">Name: </label>
        <input style="border:1px solid; padding: 5px; width: 220px;" type="text" id="name"> <br>
        <label for="fatername">Father Name:</label>
        <input style="border:1px solid; padding: 5px; width: 175px;" type="text" id="father_name"> <br>
        <label for="mothername">Mother Name: </label>
        <input style="border:1px solid; padding: 5px; width: 170px; margin-bottom: 10%;" type="text" id="mother_name"> <br>

        <a  style="border:1px solid black; text-decoration: none; padding:10px;background-color:white; margin-left: 10%;" href="/registerUser">Click here to register new use</a>
    </form>
   </div>
</body>
</html>