{% extends 'base.html' %}

{% block title %}Register{% endblock %}



{% block body %}

<div class="container">
  <form action="/registeruser" method="post" id="regtable" name="registrationform" onsubmit="return validateall()">
        <table id="regtable2">
            <tr>
                <td> <input type="text" name="username" placeholder="Enter User Name" name="username" id="username" placeholder="Enter Your Name" > </td>
            </tr>
            <tr>
            <td><p id="errorname"></p></td>
            </tr>
            <tr>
                <td> <input type="password" name="password" id="password" placeholder="Enter Your Password" > </td>
            </tr>
            <tr>
                <td> <input type="email" name="email" id="email" placeholder="Enter Email Id"> </td>
            </tr>
            <tr>
                <td> <input type="text" name="mobileno" placeholder="Enter Mobile Number"> </td>
            </tr>
            <tr>
                <td> <input type="submit" value="Register"> </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}